name: Build Module

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Upload release artifact
        uses: actions/upload-artifact@v4
        with:
          name: YuriKey_${{ env.BUILD_ID }}
          path: |
            ${{ github.workspace }}/Module/*
